body {
  padding-top: 60px;
}

.heading {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
}

.dovex-tab-content {
  margin-top: 20px;
}

.excluded {
  color: red;
}
