<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>dovex - Dataset Overview, Visualization and Exploration</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css', v='170925') }}">

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main') }}">Dovex</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{{ url_for('main') }}">Upload</a></li>
            <li class="active"><a href="#">Detail <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('help') }}">Help</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_overview" data-toggle="tab">Overview</a></li>
        <li><a href="#tab_missing" data-toggle="tab">Missing Data</a></li>
        <li class="disabled"><a href="#tab_filter" data-toggle="tab">Filtering</a></li>
        <li><a href="#tab_inputs" data-toggle="tab">Distribution of inputs</a></li>
        <li><a href="#tab_relationship" data-toggle="tab">Relationships between inputs</a></li>
        <li class="disabled"><a href="#tab_cluster" data-toggle="tab">Clustering</a></li>
        <li><a href="#tab_predict" data-toggle="tab">Prediction</a></li>
      </ul>

      <div class="tab-content dovex-tab-content">

      <!--  overview -->
      <div class="tab-pane active" id="tab_overview">
  
       <div class="row">
         <div class="col-md-12">
            <div id="summary" class="alert alert-info alert-dismissable">Loading...</div>
            <table id="table_columns" class="display compact">
              <thead>
                <tr>
                  <th>Column Name</th>
                  <th>Missing %</th>
                  <th>#Distinct</th>
                  <th>Type</th>
                  <th>Minimum</th>
                  <th>Maximum</th>
                  <th>Mean</th>
                </tr>
              </thead>
            </table>
         </div>
       </div>
       <div class="row">
         <div class="col-md-12">
           <p>Click a row to exclude the column from the analysis.</p>
         </div>
       </div>

      </div> <!-- overview tab -->

      <!--  filter -->
      <div class="tab-pane" id="tab_filter">

       <div class="row">
          <div class="heading">Filter inputs</div>
       </div>

      </div> <!-- filter tab -->

      <!--  missing -->
      <div class="tab-pane" id="tab_missing">

       <div class="row">
          <div class="col-md-12">
            <div id="missing_by_column"></div>
          </div>
      </div>
       <div class="row">&nbsp;</div>
       <div class="row">
          <div class="col-md-12">
            <div id="missing_by_row"></div>
          </div>
      </div>

      </div> <!-- missing tab -->

      <!--  inputs -->
      <div class="tab-pane" id="tab_inputs">
       <div class="row">
          <div id="distributions" class="col-md-12"> </div>
       </div>

      </div> <!-- inputs tab -->

      <!-- relationship -->
      <div class="tab-pane" id="tab_relationship">

       <div class="row">
          <div class="col-md-6">
            Select a feature of interest:
            <select id="correlation_feature" class="form-control"></select>
          </div>
       </div>
       <div class="row">
         <div id="correlations" class="col-md-12"> </div>
       </div>

      </div> <!-- relationship tab -->

      <!--  cluster -->
         <div class="tab-pane" id="tab_cluster">

       <div class="row">
          <div class="heading">Principal Component Analysis (PCA)</div>
          <div class="col-md-6">
            <div id="pca" style="height:480px;"></div>
          </div>
       </div>

         </div> <!-- cluster tab -->

      <!--  predict -->
         <div class="tab-pane" id="tab_predict">

       <div class="row">
          <div class="col-md-5">
            Select the feature to predict:
            <select id="outcome" class="form-control"></select>
          </div>
          <div class="col-md-5">
            Select a prediction algorithm:
            <select id="predictor" class="form-control">
              <option value="majority">Baseline (majority class)</option>
              <option value="linear">Linear Regression</option>
              <option value="logistic">Logistic Regression</option>
            </select>
          </div>
        </div>
       <div class="row">&nbsp;</div>
       <div class="row">
          <div class="col-md-12" id="prediction_config">
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" id="run_predictor">Start Analysis</button>
          </div>
       </div>

       <div class="row">&nbsp;</div>

       <div class="row">
          <div class="col-md-12" id="prediction_result">
          </div>
       </div>
       <div class="row">
          <div class="col-md-6" id="prediction_confusion">
            <div id="confusion" style="height:480px;"></div>
          </div>
       </div>

    </div> <!-- predict tab -->

    </div> <!-- tab content -->


    </div> <!-- container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.16.5/math.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script src="{{ url_for('static', filename='ml.js', v='171109') }}"></script>
    <script src="{{ url_for('static', filename='main.js', v='171109') }}"></script>
    <script>
$(document).ready(function () {
  set_update('Downloading dataset...');
  set_url("{{ url_for('process', filename=filename) }}");
  $.ajax({
    url: "{{ url_for('data', filename=filename) }}"
  })
  .done(process)
  .fail(set_error);
});

    </script>
  </body>
</html>

